body{
color: #765;
text-align: center;
font-family:fantasy;
font-size: 16px;
}

#cabecera{
    background-color: #869;
    font-size: 25px;
    margin: 0;
    padding: 0.5em;
    color: whitesmoke;
}

#container h1{
    font-size: 20px;
}